html,
body {
    height: 100%;
    background-image: url('../images/textura.jpg') !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background: rgba(32,28,38,0.8);
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color:  white;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

@font-face {
    font-family: Bethanie;
    src: url(../fonts/Bethanie.ttf);
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-family: Bethanie;
    font-size: 34px;
    align-items:center;
    color: white;
    transition: background-color 0.5s ease;
    background: rgba(29,15,15,0.5);
    box-shadow: 0 8px 5px #1d0f0f;
    transition: height 1s;
}

#botonNav{
    display: none;
}

#menu:hover{
    background: rgba(32,28,38,0.8);
    transition: 0.6;
}

#menu:hover .logo{
    transform: rotate(360deg);
}

#menu:hover .logo{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#menu > a{
    color: white;
    text-decoration: none;
}

#menu > li,#menu > a {
    opacity: 1;
    padding: 5px;
    margin-right: 20px;
}

#menu > li:hover, #menu > a:hover {
    text-shadow: #EEEE00 0 0 10px;
    cursor: pointer;
}

.logo{
    transition: 1.5s ease;
}

.carousel{
    max-width: 800px;
    margin: auto;
    
}

@media only screen and (max-width: 650px) {
    #menu li,#menu a{
        border-color: white;
        border-style: solid;
        border-width: 1px;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .logodiv{
        display: none;
    }
    #menu{
        padding: 0;
        margin: 0;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 999999 !important;
        background: rgba(32,28,38,1) !important;
        height: 72px;
    }
    #menu:hover{
        background: rgba(32,28,38,1) !important;
    }
    #botonNav{
        display: block;
    }
    #menu > li, #menu > a {
        opacity: 1;
    }

    .wrap > .container > .container{
        padding-top: 90px !important;
    }
}

.carousels{
    display: none;
}

#divMapa  {
position: relative;
padding-top: 30px;
overflow: hidden;
max-width: 800px !important;
margin: auto;
margin-top: 30px;
height: 250px;
}

#divMapa iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
max-height: 250px !important;
}